name: javascript-CI

on:
  push:
    branches: [main]
  pull_request_target:
    branches: [main, master]

jobs:
  run-action-for-each-commit:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Loop through commits and run action
      run: |
        for commit in $(git log --pretty=format:'%H' ${{ github.event.before }}..${{ github.sha }}); do
          echo "Running action for commit $commit"
          Replace this with your action to run for each commit
          For example:
          - name: Jest coverage report
            uses: ArtiomTr/jest-coverage-report-action@v2.2.1
            with:
                commit: $commit
                output: report-markdown, comment
        done

      #####
      #- name: Run E2E Tests
      #  uses: cypress-io/github-action@v4
      #  with:
      #    start: npm start
      #    wait-on: "http://localhost:1234"
      #####
      #- name: Build for deploy
      #  run: npm run build
      #- name: Deploy to GitHub Pages
      #  if: success()
      #  uses: crazy-max/ghaction-github-pages@v2
      #  with:
      #    target_branch: gh-pages
      #    build_dir: dist
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - name: Jest coverage report
      #   uses: ArtiomTr/jest-coverage-report-action@v2.2.1
      #   id: coverage
      #   with:
      #       output: report-markdown, comment
      # - uses: marocchino/sticky-pull-request-comment@v2
      #   with:
      #       message: ${{ steps.coverage.outputs.report }}