name: javascript-CI

on:
  push:
    branches: [main]
  pull_request_target:
    branches: [main, master]

jobs:
  ci_to_main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Run Unit Tests
        run: npm run test-once

      - uses: actions/checkout@v2
        with:
          # checkout full tree
          fetch-depth: 0
      - name: Generate Jest coverage and comments
        run: |
          for commit in $(git rev-list ${{ github.event.before }}..${{ github.sha }}); do
            git checkout $commit
            echo "run test"

            # Run Jest coverage report for each commit
            npx jest --coverage

            # Use the Jest coverage report action for each commit
            echo "Running Jest coverage report for commit $commit"
            npx ArtiomTr/jest-coverage-report-action@v2.2.1 --output report-markdown,comment

            # Add a comment for each commit (you can use marocchino/sticky-pull-request-comment)
            echo "Adding coverage comment for commit $commit"
            # Use your desired method to add the comment
          done

      #####
      #- name: Run E2E Tests
      #  uses: cypress-io/github-action@v4
      #  with:
      #    start: npm start
      #    wait-on: "http://localhost:1234"
      #####
      #- name: Build for deploy
      #  run: npm run build
      #- name: Deploy to GitHub Pages
      #  if: success()
      #  uses: crazy-max/ghaction-github-pages@v2
      #  with:
      #    target_branch: gh-pages
      #    build_dir: dist
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - name: Jest coverage report
      #   uses: ArtiomTr/jest-coverage-report-action@v2.2.1
      #   id: coverage
      #   with:
      #       output: report-markdown, comment
      # - uses: marocchino/sticky-pull-request-comment@v2
      #   with:
      #       message: ${{ steps.coverage.outputs.report }}