# name: javascript-CI

# on:
#   push:
#     branches: [main]
#   pull_request_target:
#     branches: [main, master]

# jobs:
#   ci_to_main:
#     runs-on: ubuntu-latest
#     strategy:
#       matrix:
#         commit:
#           - ${{ github.sha }}

#     steps:
#       - name: Checkout del código fuente
#         uses: actions/checkout@v2
#         with:
#           ref: ${{ matrix.commit }}
#       - name: Set up node.js
#         uses: actions/setup-node@v1
#         with:
#           node-version: 16
#       - name: Install dependencies
#         run: npm ci
#       - name: Run tests
#         run: npm run test-once
#       - name: Build for deploy
#         run: npm run build
#       - name: Deploy to GitHub Pages
#         if: success()
#         uses: crazy-max/ghaction-github-pages@v2
#         with:
#           target_branch: gh-pages
#           build_dir: dist
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#       - name: Jest coverage report
#         uses: ArtiomTr/jest-coverage-report-action@v2.2.1
#         id: coverage
#         with:
#             output: report-markdown, comment
#       - uses: marocchino/sticky-pull-request-comment@v2
#         with:
#             message: ${{ steps.coverage.outputs.report }}
            
name: CI en todos los commits

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código fuente
        uses: actions/checkout@v2

      - name: Obtener el número de commits en el push
        id: num_commits
        run: |
          num=$(git rev-list ${{ github.event.before }}..${{ github.sha }} --count)
          echo "::set-output name=num_commits::$num"
        shell: bash

      - name: Ejecutar acciones en cada commit
        run: |
          num_commits=${{ steps.num_commits.outputs.num_commits }}

          if [ $num_commits -gt 1 ]; then
            commit_range="${{ github.event.before }}..${{ github.sha }}"
          else
            commit_range="${{ github.sha }}"
          fi

          echo "Rango de commits: $commit_range"

          for commit in $(git rev-list $commit_range); do
            echo "Commit: $commit"
            - name: Checkout del código fuente
              uses: actions/checkout@v2
              with:
                ref: $commit
            - name: Set up node.js
              uses: actions/setup-node@v1
              with:
                node-version: 16
            - name: Install dependencies
              run: npm ci
            - name: Run tests
              run: npm run test-once
            - name: Build for deploy
              run: npm run build
            - name: Deploy to GitHub Pages
              if: success()
              uses: crazy-max/ghaction-github-pages@v2
              with:
                target_branch: gh-pages
                build_dir: dist
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Jest coverage report
              uses: ArtiomTr/jest-coverage-report-action@v2.2.1
              id: coverage
              with:
                output: report-markdown, comment
          done
