# name: javascript-CI

# on:
#   push:
#     branches: [main]
#   pull_request_target:
#     branches: [main, master]

# jobs:
#   ci_to_main:
#     runs-on: ubuntu-latest
#     strategy:
#       matrix:
#         commit:
#           - ${{ github.sha }}

#     steps:
#       - name: Checkout del código fuente
#         uses: actions/checkout@v2
#         with:
#           ref: ${{ matrix.commit }}
#       - name: Set up node.js
#         uses: actions/setup-node@v1
#         with:
#           node-version: 16
#       - name: Install dependencies
#         run: npm ci
#       - name: Run tests
#         run: npm run test-once
#       - name: Build for deploy
#         run: npm run build
#       - name: Deploy to GitHub Pages
#         if: success()
#         uses: crazy-max/ghaction-github-pages@v2
#         with:
#           target_branch: gh-pages
#           build_dir: dist
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#       - name: Jest coverage report
#         uses: ArtiomTr/jest-coverage-report-action@v2.2.1
#         id: coverage
#         with:
#             output: report-markdown, comment
#       - uses: marocchino/sticky-pull-request-comment@v2
#         with:
#             message: ${{ steps.coverage.outputs.report }}
          
name: CI

on:
  push:
    # Solo activar en ramas, no en etiquetas
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código fuente
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Procesar commits
        run: |
          for commit in $(git rev-list ${{ github.event.before}}..${{ github.sha}}); do
            echo "Procesando commit: $commit"
            git checkout $commit
            
            # Configurar Node.js, instalar dependencias, ejecutar pruebas, construir y desplegar si es necesario
            echo "Configurar Node.js"
            uses: actions/setup-node@v1
            with:
              node-version: 16
              
            echo "Instalar dependencias"
            run: npm ci
            
            echo "Ejecutar pruebas"
            run: npm run test-once
            
            echo "Construir para despliegue"
            run: npm run build
            
            if [[ "$commit" == "<condición>" ]]; then
              echo "Desplegando commit: $commit"
              # Tus pasos de despliegue aquí
            fi
          done
